body {
    background-color: dimgray;
    color: aquamarine;
}

head {
    background-color: dimgray;
    color: aquamarine;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
}